body,ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    position: relative;
    height: 280px;
    width: 520px;
    margin: 200px auto;
    border: 5px solid black;
    font-size: 0;
    overflow: hidden;
}
.container:hover a{
    display: block;
}
.main{
    position: absolute;
    display: block;
    width: 3640px;
    height: 280px;
    left: -520px;
    font-size: 0;
}
.container .list{
    position: absolute;
    /* display: inline; */
    bottom: 20px;
    margin-left: 50%;
    left: -50px;
    background: rgba(184, 169, 169, 0.5);
    border-radius: 7px;
}
.list li{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color:whitesmoke;
    border-radius: 50%;
    margin: 3px;
    
}
.list .active{
    background: orange;
}
a{
    position: absolute;
    display: none;
    top: 120px;
    width: 40px;
    height: 40px;
    background:rgba(180, 169, 169, 0.616);
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

#prve{
    color:black;
    left: 0;
}

#next{
    color: black;
    right: 0;
}